<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.address_analysis.db.mapper.FmisAssetAddressMapper">

    <update id="updateBalanceBatch">
        <foreach collection="list" item="item" separator=";">
            update fmis_asset_address
            set balance_block = #{item.balanceBlock}, balance_block_day = #{item.balanceBlockDay}, balance = #{item.balance}
            where address = #{item.address}
        </foreach>
    </update>
</mapper>
