<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.address_analysis.db.mapper.FmisAssetAddressDailyBalanceMapper">

    <insert id="saveOrUpdateOnDuplicatedBatch" >
        <foreach collection="list" item="item" separator=";">
            insert into fmis_asset_address_daily_balance (address, block_day, balance)
            values (#{item.address}, #{item.blockDay}, #{item.balance})
            ON DUPLICATE KEY UPDATE balance = #{item.balance}
        </foreach>
    </insert>
</mapper>
